.app {
  padding-top: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.no-appointment-container {
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-refinement__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-refinement__dropdown {
  display: flex;
  width: 60%;
  margin-right: 10px;
}

.search-refinement__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.footer {
  display: flex;
  width: 100%;
  min-width: 100vw;
  flex: none;
  flex-shrink: 0;
}

.footer__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__segment {
  width: 100%;
}

.page-container {
  flex: 1 0 auto;
}

.pagination-container {
  padding-top: 10px;
  padding-bottom: 25px;
}
